[Desktop Entry]
Name=HP Mouse Configurator
Exec=hp-mouse-configurator
Icon=com.hp.mouse-configurator
Type=Application
StartupNotify=true
Categories=Utility;
